{% extends "base.html" %}
{% block content %}
<div id="page" class="about">
	<div class="line full"></div>
	<h1>Who will be PM</h1>
	<div class="subtitle">
		<div class="title com">
			<span>.com</span>
		</div>
		<div class="line under"></div>
	</div>

	<h2>Australian Federal Election 2013</h2>
 
	<a class="standalone" href="/index.html">Back to Home </a>

	<div class="section" id="about-this-site">

		<div class="subtitle">
			<span>About This Site</span>
			<div class="line under"></div>
		</div>

		<p>
		This website was made out of the need for a quick
		and dirty way to look at all the polling data without
		bias while getting an accurate overview.
		</p>

		<p>
		With the amount of variation in national polls, it can somtimes
		be difficult to get a brief, but accurate, view of the
		current political status, and most importantly, who will
		be leading Australia into 2014.
		</p>

		<p>
		This website is a project by a student interested in politics. He
		can be contacted through email via <a href="mailto:wwbpm@lab273.com">
		wwbpm@lab273.com</a>. Suggestions, feedback and other correspondence 
	        is welcome.	
		</p>

	</div>

	<div class="section" id="Methodology">

		<div class="subtitle">
			<span>Methodology</span>
			<div class="line under"></div>
		</div>

		<p>
		The latest data from each company are aggregated as soon as they are updated. 
		The Crikey 
		<a href="http://blogs.crikey.com.au/pollbludger/bludgertrack-2013-methodology/">
			BludgerTrack</a> is used
		to smooth the data as their aggregation is analysed by 
		statisticans, whereas this site does not attempt to. 
		However, BludgerTrack does not update as soon as data comes out, 
		so while their figures are used in the calculation, 
		this site aims to improve this by delivering data as 
		soon as they are available.
		</p>

		<p>
		Sources can be found on this 
		<a href="https://docs.google.com/spreadsheet/ccc?key=0AtRHxQjI6ktrdGQyTE5LNXBZUmRaVnNuLTlIQ1dReFE&usp=sharing">Google Spreadsheet</a>. The numbers are rounded to 1 decimal place. 
		</p>
	</div>

	<div class="section" id="disclaimer">

		<div class="subtitle">
			<span>Disclaimer and Privacy</span>
			<div class="line under"></div>
		</div>

		<p>
		This site merely aggregates polls of leading research companies. 
		It does not conduct research into voting intentions or behaviour of the public, 
		and the accuracy of the predictions rely on the accuracy of the sources. 
		</p>

		<p>
		WhoWillBePM.com does not store personally identifiable information on visits or
		accesses to this website. Anonymised data is collected to provide statistics into
		the number of visits and nature of visits, such as where the visits are coming
		from. By visiting this website, you agree to the collection of anonymised
		data.
		</p>

	</div>
	<a class="standalone" href="/index.html">Back to Home </a>
</div>
{% endblock %}

