{% extends "base.html" %}
{% block content %}
<div id="page">
	<div class="line full"></div>
	<h1>Who will be PM</h1>
	<div class="subtitle">
		<div class="title com">
			<span>.com</span>
		</div>
		<div class="line under"></div>
	</div>

	<h2>Australian Federal Election 2013</h2>

	<div class="section" id="candidates">
		<div class="pollie alp">
			<img src="/static/img/rudd.png" alt="Kevin Rudd"/>
			<span class="name">Kevin Rudd</span>
		</div>

		<div class="vs">
			<div class="line full"></div>
			<span>versus</span>
			<div class="line full"></div>
		</div>

		<div class="pollie lnp">
			<img src="/static/img/abbott.png" alt="Tony Abbott"/>
			<span class="name">Tony Abbott</span>
		</div>

		<div class="clearfix"></div>	
	</div>

	<div class="section" id="prediction">
		
		<div class="subtitle">
			<span>Projected PM</span>
			<div class="line under"></div>
		</div>

		<div class="projected-pm">
			<span class="name alp">
				Kevin Rudd
			</span>
			<span class="party">
				Leader of the Labor Party
			</span>
		</div>

		<div class="fb-like" data-href="http://whowillbepm.com" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial" data-colorscheme="dark"></div>

	</div>

	<div class="section" id="numbers">
		
		<div class="subtitle">
			<span>Aggregate Polls</span>
			<div class="line under"></div>
		</div>
		<h2>Two Party Preferred</h2>

		<div class="number-wrapper alp">
			<span class="major-stat">
				50.1%
			</span>
			<span class="party-name">
				ALP
			</span>
			<span class="change">
			
			</span>
		</div>

		<div class="number-wrapper lnp">
			<span class="major-stat">
				49.9%
			</span>
			<span class="party-name">
				L-NP
			</span>
			<span class="change">
			
			</span>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="section" id="breakdown">

		<div class="subtitle">
			<span>Poll Breakdown</span>
			<div class="line under"></div>
		</div>

		<div class="table">
			<table>
				<thead>
				<tr> <th>Source</th> <th>Updated</th> <th>ALP</th> <th>L-NP</th> </tr>
				</thead>
				<tbody>
				<tr> <td>Essential Research</td> <td>08 July</td> <td>48</td> <td>52</td> </tr>
				<tr> <td>Galaxy Research</td> <td>28 June</td> <td>49</td> <td>51</td> </tr>
				<tr> <td>Newspoll</td> <td>08 July</td> <td>50</td> <td>50</td> </tr>
				<tr> <td>Roy Morgan Research</td> <td>08 July</td> <td>54.5</td> <td>45.5</td> </tr>
				</tbody>
			</table>
		</div>

		<a class="standalone" href="/about.html">About WWBPM</a>

	</div>
</div>
{% endblock %}
