<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" href="{{ STATIC_URL }}/img/favicon.png"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">

	{% block header %}
	<title>Who Will Be Prime Minister?</title>
	<script type="text/javascript" src="//use.typekit.net/qhe5pna.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-42303259-1', 'whowillbepm.com');ga('send', 'pageview');</script>
	{% endblock %}

	<meta property="og:type" content="website" />	
	<meta property="og:site_name" content="Who Will Be PM?"/>
	<meta property="og:url" content="http://whowillbepm.com/"/>
	<meta property="og:title" content="Who will be PM of Australia?"/>
	<meta property="og:image" content="http://whowillbepm.com/static/img/opengraph-wwbpm.png"/>
	<meta property="og:description" content="View the latest aggregated polls and decide for yourself."/>

</head>
<body>
	<div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=158751014311312";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
	{% block content %}
	Main content
	{% endblock %}

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
	{% endblock %}
</body>
</html>
